body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f9f9f9;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007acc;
  padding: 15px 40px;
  position: sticky;
  top: 0;
}

.navbar h2 {
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* SECTIONS */
section {
  padding: 60px 10%;
  background: #fff;
  margin: 30px auto;
  border-radius: 10px;
}

/* SKILLS */
.skill-card {
  padding: 12px;
  margin: 8px 0;
  background: #e1f0ff;
  border-radius: 8px;
  display: inline-block;
}

/* PROJECT CARDS */
.project-card {
  background: #eef7ff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* CONTACT */
#contact input,
#contact textarea {
  width: 60%;
  padding: 12px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 20px;
  border: none;
  background: #007acc;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #005e99;
}
